/* Animation Delay */
animation-delay()
  -webkit-animation-delay arguments
  -moz-animation-delay arguments
  -o-animation-delay arguments
  animation-delay arguments

/* Animation Name */
animation-name()
  -webkit-animation-name arguments
  -moz-animation-name arguments
  -o-animation-name arguments
  animation-name arguments
