/* Animation Delay */
animation-delay()
  -webkit-animation-delay arguments
  -moz-animation-delay arguments
  -o-animation-delay arguments
  animation-delay arguments

/* Animation Duration */
animation-duration()
  -webkit-animation-duration arguments
  -moz-animation-duration arguments
  -o-animation-duration arguments
  animation-duration arguments

/* Animation Iteration Count */
animation-iteration-count()
  -webkit-animation-iteration-count arguments
  -moz-animation-iteration-count arguments
  -o-animation-iteration-count arguments
  animation-iteration-count arguments

/* Animation Name */
animation-name()
  -webkit-animation-name arguments
  -moz-animation-name arguments
  -o-animation-name arguments
  animation-name arguments
