/* Animation */
animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

/* Animation Delay */
animation-delay()
  -webkit-animation-delay arguments
  -moz-animation-delay arguments
  -o-animation-delay arguments
  animation-delay arguments

/* Animation Duration */
animation-duration()
  -webkit-animation-duration arguments
  -moz-animation-duration arguments
  -o-animation-duration arguments
  animation-duration arguments

/* Animation Fill Mode */
animation-fill-mode()
  -webkit-animation-fill-mode arguments
  -moz-animation-fill-mode arguments
  -o-animation-fill-mode arguments
  animation-fill-mode arguments

/* Animation Iteration Count */
animation-iteration-count()
  -webkit-animation-iteration-count arguments
  -moz-animation-iteration-count arguments
  -o-animation-iteration-count arguments
  animation-iteration-count arguments

/* Animation Name */
animation-name()
  -webkit-animation-name arguments
  -moz-animation-name arguments
  -o-animation-name arguments
  animation-name arguments

/* Animation Play State */
animation-play-state()
  -webkit-animation-play-state arguments
  -moz-animation-play-state arguments
  -o-animation-play-state arguments
  animation-play-state arguments

/* Animation Timing Function */
animation-timing-function()
  -webkit-animation-timing-function arguments
  -moz-animation-timing-function arguments
  -o-animation-timing-function arguments
  animation-timing-function arguments

/* Background Size */
background-size()
  -webkit-background-size arguments
  -moz-background-size arguments
  -o-background-size arguments
  background-size arguments

/* Border Radius */
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/* Border Bottom Left Radius */
border-bottom-left-radius()
  -webkit-border-bottom-left-radius arguments
  -moz-border-radius-bottomleft arguments
  border-bottom-left-radius arguments

/* Border Bottom Right Radius */
border-bottom-right-radius()
  -webkit-border-bottom-right-radius arguments
  -moz-border-radius-bottomright arguments
  border-bottom-right-radius arguments

/* Border Top Left Radius */
border-top-left-radius()
  -webkit-border-top-left-radius arguments
  -moz-border-radius-topleft arguments
  border-top-left-radius arguments

/* Border Top Right Radius */
border-top-right-radius()
  -webkit-border-top-right-radius arguments
  -moz-border-radius-topright arguments
  border-top-right-radius arguments

/* Box Shadow */
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

/* Clip Path */
clip-path()
  -webkit-clip-path arguments
  clip-path arguments

/* Column Count */
column-count()
  -webkit-column-count arguments
  -moz-column-count arguments
  column-count arguments

/* Column Gap */
column-gap()
  -webkit-column-gap arguments
  -moz-column-gap arguments
  column-gap arguments

/* Column Rule */
column-rule()
  -webkit-column-rule arguments
  -moz-column-rule arguments
  column-rule arguments

/* Column Rule Color */
column-rule-color()
  -webkit-column-rule-color arguments
  -moz-column-rule-color arguments
  column-rule-color arguments

/* Column Rule Width */
column-rule-width()
  -webkit-column-rule-width arguments
  -moz-column-rule-width arguments
  column-rule-width arguments

/* Column Width */
column-width()
  -webkit-column-width arguments
  -moz-column-width arguments
  column-width arguments

/* Flex Basis */
flex-basis()
  -webkit-flex-basis arguments
  -ms-flex-preferred-size arguments
  flex-basis arguments

/* Flex Grow */
flex-grow()
  -webkit-box-flex arguments
  -webkit-flex-grow arguments
  -moz-box-flex arguments
  -ms-flex-positive arguments
  flex-grow arguments

/* Flex Shrink */
flex-shrink()
  -webkit-flex-shrink arguments
  -ms-flex-negative arguments
  flex-shrink arguments

/* Font Feature Settings */
font-feature-settings()
  -webkit-font-feature-settings arguments
  -moz-font-feature-settings arguments
  font-feature-settings arguments

/* Object Position */
object-position()
  -o-object-position arguments
  object-position arguments

/* Perspective Origin */
perspective-origin()
  -webkit-perspective-origin arguments
  -moz-perspective-origin arguments
  perspective-origin arguments
