/* Align Content */
.aC-c {align-content: center}
.aC-fe {align-content: flex-end}
.aC-fs {align-content: flex-start}
.aC-i {align-content: inherit}
.aC-s {align-content: stretch}
.aC-sa {align-content: space-around}
.aC-sb {align-content: space-between}

/* Align Items */
.aI-b {align-items: baseline}
.aI-c {align-items: center}
.aI-fe {align-items: flex-end}
.aI-fs {align-items: flex-start}
.aI-i {align-items: inherit}
.aI-s {align-items: stretch}

/* Align Self */
.aS-a {align-self: auto}
.aS-b {align-self: baseline}
.aS-c {align-self: center}
.aS-fe {align-self: flex-end}
.aS-fs {align-self: flex-start}
.aS-i {align-self: inherit}
.aS-s {align-self: stretch}

/* Backface Visibility */
.bV-h {backface-visibility: hidden}
.bV-i {backface-visibility: inherit}
.bV-v {backface-visibility: visibile}

/* Background Attachment */
.bgA-f {background-attachment: fixed}
.bgA-i {background-attachment: inherit}
.bgA-l {background-attachment: local}
.bgA-s {background-attachment: scroll}

/* Background Origin */
.bgO-bb {background-origin: border-box}
.bgO-cb {background-origin: content-box}
.bgO-i {background-origin: inherit}
.bgO-pb {background-origin: padding-box}

/* Background Position */
.bgP-cb {background-position: center bottom}
.bgP-cc {background-position: center center}
.bgP-ct {background-position: center top}
.bgP-lb {background-position: left bottom}
.bgP-lc {background-position: left center}
.bgP-lt {background-position: left top}
.bgP-rb {background-position: right bottom}
.bgP-rc {background-position: right center}
.bgP-rt {background-position: right top}

/* Background Repeat */
.bgR-i {background-repeat: inherit}
.bgR-nr {background-repeat: no-repeat}
.bgR-r {background-repeat: repeat}
.bgr-rx {background-repeat: repeat-x}
.bgR-ry {background-repeat: repeat-y}

/* Background Size */
.bgS-a {background-size: auto}
.bgS-c {background-size: cover}
.bgS-i {background-size: inherit}

/* Border */
.b-0 {border: 0}

/* Border Style */
.bS-d {border-style: double}
.bS-g {border-style: groove}
.bS-h {border-style: hidden}
.bS-i {border-style: inset}
.bS-n {border-style: none}
.bS-o {border-style: outset}
.bS-r {border-style: ridge}
.bS-s {border-style: solid}

/* Box Sizing */
.bS-bb {box-sizing: border-box}
.bS-cb {box-sizing: content-box}

/* Clear */
.c-b {clear: both}
.c-l {clear: left}
.c-n {clear: none}
.c-r {clear: right}

/* Display */
.d-b {display: block}
.d-f {display: flex}
.d-i {display: inline}
.d-ib {display: inline-block}
.d-n {display: none}

/* Filter */
.f-g {filter: grayscale(1)}
.f-s {filter: septia(1)}

/* Flex Direction */
.fD-c {flex-direction: column}
.fD-cr {flex-direction: column-reverse}
.fD-i {flex-direction: inherit}
.fD-r {flex-direction: row}
.fD-rr {flex-direction: row-reverse}

/* Float */
.f-l {float: left}
.f-n {float: none}
.f-r {float: right}

/* Font Style */
.fS-i {font-style: italic}
.fS-n {font-style: normal}
.fS-o {font-style: oblique}

/* Font Stretch */
.fS-c {font-stretch: condensed}
.fS-e {font-stretch: expanded}
.fS-ec {font-stretch: extra-condensed}
.fS-ee {font-stretch: extra-expanded}
.fS-sc {font-stretch: semi-condensed}
.fS-se {font-stretch: semi-expanded}
.fS-uc {font-stretch: ultra-condensed}
.fS-ue {font-stretch: ultra-expanded}

/* Font Variant */
.fV-n {font-variant: normal}
.fV-s {font-variant: small-caps}

/* Font Weight */
.fW-b {font-weight: bolder}
.fW-l {font-weight: lighter}
.fW-n {font-weight: normal}

/* Hyphens */
.h-a {hyphens: auto}
.h-i {hyphens: inherit}
.h-m {hyphens: manual}
.h-n {hyphens: none}

/* Image Orientation */
.iO-90 {image-orientation: 90deg}
.iO-180 {image-orientation: 180deg}
.iO-270 {image-orientation: 270deg}
.iO-90f {image-orientation: 90deg flip}
.iO-180f {image-orientation: 180deg flip}
.iO-270f {image-orientation: 270deg flip}
.iO-f {image-orientation: flip}
.iO-fi {image-orientation: from-image}
.iO-i {image-orientation: inherit}

/* Image Rendering */
.iR-a {image-rendering: auto}
.iR-ce {image-rendering: crisp-edges}
.iR-i {image-rendering: inherit}
.iR-p {image-rendering: pixelated}

/* Justify Content */
.jC-c {justify-content: center}
.jC-fe {justify-content: flex-end}
.jC-fs {justify-content: flex-start}
.jC-i {justify-content: inherit}
.jC-sa {justify-content: space-around}
.jC-sb {justify-content: space-between}

/* Margin */
.m-0 {margin: 0}
.m-0a {margin: 0 auto}
.m-a {margin: auto}

/* Object Fit */
.oF-c {object-fit: cover}
.oF-f {object-fit: fill}
.oF-n {object-fit: none}
.oF-sd {object-fit: scale-down}

/* Object Position */
.oP-cb {object-position: center bottom}
.oP-cc {object-position: center center}
.oP-ct {object-position: center top}
.oP-lb {object-position: left bottom}
.oP-lc {object-position: left center}
.oP-lt {object-position: left top}
.oP-rb {object-position: right bottom}
.oP-rc {object-position: right center}
.oP-rt {object-position: right top}

/* Opacity */
.o-0 {opacity: 0}
.o-1 {opacity: 1}

/* Overflow */
.o-a {overflow: auto}
.o-h {overflow: hidden}
.o-s {overflow: scroll}
.o-v {overflow: visible}

/* Overflow Wrap */
.oW-bw {word-wrap: break-word; overflow-wrap: break-word}
.oW-i {word-wrap: inherit; overflow-wrap: inherit}
.oW-n {word-wrap: normal; overflow-wrap: normal}

/* Padding */
.p-0 {padding: 0}

/* Pointer Events */
.pE-a {pointer-events: auto}
.pE-i {pointer-events: inherit}
.pE-n {pointer-events: none}

/* Position */
.p-a {position: absolute}
.p-f {position: fixed}
.p-r {position: relative}
.p-s {position: static}

/* Resize */
.r-b {resize: both}
.r-h {resize: horizontal}
.r-i {resize: inherit}
.r-n {resize: none}
.r-v {resize: vertical}

/* Text Align */
.tA-c {text-align: center}
.tA-j {text-align: justify}
.tA-l {text-align: left}
.tA-r {text-align: right}

/* Text Decoration */
.tD-l {text-decoration: line-through}
.tD-n {text-decoration: none}
.tD-o {text-decoration: overline}
.tD-u {text-decoration: underline}

/* Text Overflow */
.tO-c {text-overflow: clip}
.tO-e {text-overflow: ellipsis}
.tO-i {text-overflow: inherit}

/* Text Rendering */
.tR-a {text-rendering: auto}
.tR-gP {text-rendering: geometricPrecision}
.tR-i {text-rendering: inherit}
.tR-oL {text-rendering: optimizeLegibility}
.tR-oS {text-rendering: optimizeSpeed}

/* Text Transform */
.tT-c {text-transform: capitalize}
.tT-l {text-transform: lowercase}
.tT-n {text-transform: none}
.tT-u {text-transform: uppercase}

/* Text Underline Position */
.tUP-a {text-underline-position: auto}
.tUP-i {text-underline-position: inherit}
.tUP-u {text-underline-position: under}

/* Touch Action */
.tA-a {touch-action: auto}
.tA-m {touch-action: manipulation}
.tA-n {touch-action: none}
.tA-px {touch-action: pan-x}
.tA-py {touch-action: pan-y}

/* Transform Origin */
.tO-cb {transform-origin: center bottom}
.tO-cc {transform-origin: center center}
.tO-ct {transform-origin: center top}
.tO-lb {transform-origin: left bottom}
.tO-lc {transform-origin: left center}
.tO-lt {transform-origin: left top}
.tO-rb {transform-origin: right bottom}
.tO-rc {transform-origin: right center}
.tO-rt {transform-origin: right top}

/* Transform Style */
.tS-f {transform-style: flat}
.tS-i {transform-style: inherit}
.tS-p3d {transform-style: preserve-3d}

/* Transition Timing Function */
.tTF-e {transition-timing-function: ease}
.tTF-ei {transition-timing-function: ease-in}
.tTF-eio {transition-timing-function: ease-in-out}
.tTF-eo {transition-timing-function: ease-out}
.tTF-i {transition-timing-function: inherit}
.tTF-l {transition-timing-function: linear}
.tTF-se {transition-timing-function: step-end}
.tTF-ss {transition-timing-function: step-start}

/* Vertical Align */
.vA-b {vertical-align: bottom}
.vA-bl {vertical-align: baseline}
.vA-i {vertical-align: inherit}
.vA-m {vertical-align: middle}
.vA-sub {vertical-align: sub}
.vA-sup {vertical-align: super}
.vA-t {vertical-align: top}
.vA-tb {vertical-align: text-bottom}
.vA-tt {vertical-align: text-top}

/* Visibility */
.v-h {visibility: hidden}
.v-v {visibility: visible}

/* White Space */
.wS-n {white-space: nowrap}