/* Align Content */
.aC-c {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center}
.aC-fe {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end}
.aC-fs {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start}
.aC-inh {
  -webkit-align-content: inherit;
  -ms-flex-line-pack: inherit;
  align-content: inherit}
.aC-ini {
  -webkit-align-content: initial;
  -ms-flex-line-pack: initial;
  align-content: initial}
.aC-s {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch}
.aC-sa {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around}
.aC-sb {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between}
.aC-uns {
  -webkit-align-content: unset;
  -ms-flex-line-pack: unset;
  align-content: unset}

/* Align Items */
.aI-b {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline}
.aI-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center}
.aI-fe {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end}
.aI-fs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start}
.aI-inh {
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  -moz-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit}
.aI-ini {
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -moz-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial}
.aI-s {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch}
.aI-uns {
  -webkit-box-align: unset;
  -webkit-align-items: unset;
  -moz-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset}

/* Align Self */
.aS-a {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto}
.aS-b {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline}
.aS-c {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center}
.aS-fe {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end}
.aS-fs {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start}
.aS-inh {
  -webkit-align-self: inherit;
  -ms-flex-item-align: inherit;
  align-self: inherit}
.aS-ini {
  -webkit-align-self: initial;
  -ms-flex-item-align: initial;
  align-self: initial}
.aS-s {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch}
.aS-uns {
  -webkit-align-self: unset;
  -ms-flex-item-align: unset;
  align-self: unset}

/* Alignment Baseline */
.aB-a {
  alignment-baseline: auto}
.aB-ae {
  alignment-baseline: after-edge}
.aB-al {
  alignment-baseline: alphabetic}
.aB-b {
  alignment-baseline: baseline}
.aB-be {
  alignment-baseline: before-edge}
.aB-c {
  alignment-baseline: central}
.aB-h {
  alignment-baseline: hanging}
.aB-i {
  alignment-baseline: ideographic}
.aB-inh {
  alignment-baseline: inherit}
.aB-ini {
  alignment-baseline: initial}
.aB-m {
  alignment-baseline: mathematical}
.aB-mid {
  alignment-baseline: middle}
.aB-tae {
  alignment-baseline: text-after-edge}
.aB-tbe {
  alignment-baseline: text-before-edge}
.aB-uns {
  alignment-baseline: unset}

/* All */
.all-inh {
  all: inherit}
.all-ini {
  all: initial}
.all-u {
  all: unset}

/* Animation Direction */
.aD-a {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate}
.aD-ar {
  -webkit-animation-direction: alternte-reverse;
  -moz-animation-direction: alternte-reverse;
  -o-animation-direction: alternte-reverse;
  animation-direction: alternte-reverse}
.aD-inh {
  -webkit-animation-direction: inherit;
  -moz-animation-direction: inherit;
  -o-animation-direction: inherit;
  animation-direction: inherit}
.aD-ini {
  -webkit-animation-direction: initial;
  -moz-animation-direction: initial;
  -o-animation-direction: initial;
  animation-direction: initial}
.aD-n {
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal}
.aD-r {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse}
.aD-uns {
  -webkit-animation-direction: unset;
  -moz-animation-direction: unset;
  -o-animation-direction: unset;
  animation-direction: unset}

/* Animation Iteration Count */
.aIC-i {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite}
.aIC-inh {
  -webkit-animation-iteration-count: inherit;
  -moz-animation-iteration-count: inherit;
  -o-animation-iteration-count: inherit;
  animation-iteration-count: inherit}
.aIC-ini {
  -webkit-animation-iteration-count: initial;
  -moz-animation-iteration-count: initial;
  -o-animation-iteration-count: initial;
  animation-iteration-count: initial}
.aIC-uns {
  -webkit-animation-iteration-count: unset;
  -moz-animation-iteration-count: unset;
  -o-animation-iteration-count: unset;
  animation-iteration-count: unset}

/* Animation Fill Mode */
.aFM-bw {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards}
.aFM-b {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both}
.aFM-f {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards}
.aFM-inh {
  -webkit-animation-fill-mode: inherit;
  -moz-animation-fill-mode: inherit;
  -o-animation-fill-mode: inherit;
  animation-fill-mode: inherit}
.aFM-ini {
  -webkit-animation-fill-mode: initial;
  -moz-animation-fill-mode: initial;
  -o-animation-fill-mode: initial;
  animation-fill-mode: initial}
.aFM-n {
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none}
.aFM-uns {
  -webkit-animation-fill-mode: unset;
  -moz-animation-fill-mode: unset;
  -o-animation-fill-mode: unset;
  animation-fill-mode: unset}

/* Animation Play State */
.aPS-inh {
  -webkit-animation-play-state: inherit;
  -moz-animation-play-state: inherit;
  -o-animation-play-state: inherit;
  animation-play-state: inherit}
.aPS-ini {
  -webkit-animation-play-state: initial;
  -moz-animation-play-state: initial;
  -o-animation-play-state: initial;
  animation-play-state: initial}
.aPS-p {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused}
.aPS-r {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running}
.aPS-uns {
  -webkit-animation-play-state: unset;
  -moz-animation-play-state: unset;
  -o-animation-play-state: unset;
  animation-play-state: unset}

/* Animation Timing Function */
.aTF-e {
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease}
.aTF-ei {
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in}
.aTF-eio {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out}
.aTF-eo {
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out}
.aTF-inh {
  -webkit-animation-timing-function: inherit;
  -moz-animation-timing-function: inherit;
  -o-animation-timing-function: inherit;
  animation-timing-function: inherit}
.aTF-ini {
  -webkit-animation-timing-function: initial;
  -moz-animation-timing-function: initial;
  -o-animation-timing-function: initial;
  animation-timing-function: initial}
.aTF-l {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear}
.aTF-se {
  -webkit-animation-timing-function: step-end;
  -moz-animation-timing-function: step-end;
  -o-animation-timing-function: step-end;
  animation-timing-function: step-end}
.aTF-ss {
  -webkit-animation-timing-function: step-start;
  -moz-animation-timing-function: step-start;
  -o-animation-timing-function: step-start;
  animation-timing-function: step-start}
.aTF-uns {
  -webkit-animation-timing-function: unset;
  -moz-animation-timing-function: unset;
  -o-animation-timing-function: unset;
  animation-timing-function: unset}

/* Backface Visibility */
.bV-h {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden}
.bV-inh {
  -webkit-backface-visibility: inherit;
  -moz-backface-visibility: inherit;
  backface-visibility: inherit}
.bV-ini {
  -webkit-backface-visibility: initial;
  -moz-backface-visibility: initial;
  backface-visibility: initial}
.bV-uns {
  -webkit-backface-visibility: unset;
  -moz-backface-visibility: unset;
  backface-visibility: unset}
.bV-v {
  -webkit-backface-visibility: visibile;
  -moz-backface-visibility: visibile;
  backface-visibility: visibile}

/* Background Attachment */
.bgA-f {
  background-attachment: fixed}
.bgA-inh {
  background-attachment: inherit}
.bgA-ini {
  background-attachment: initial}
.bgA-l {
  background-attachment: local}
.bgA-s {
  background-attachment: scroll}
.bgA-uns {
  background-attachment: unset}

/* Background Blend Mode */
.bgBM-c {
  background-blend-mode: color}
.bgBM-cb {
  background-blend-mode: color-burn}
.bgBM-cd {
  background-blend-mode: color-dodge}
.bgBM-d {
  background-blend-mode: darken}
.bgBM-dif {
  background-blend-mode: difference}
.bgBM-e {
  background-blend-mode: exclusion}
.bgBM-hl {
  background-blend-mode: hard-light}
.bgBM-h {
  background-blend-mode: hue}
.bgBM-inh {
  background-blend-mode: inherit}
.bgBM-ini {
  background-blend-mode: initial}
.bgBM-lig {
  background-blend-mode: lighten}
.bgBM-lum {
  background-blend-mode: luminosity}
.bgBM-m {
  background-blend-mode: multiply}
.bgBM-n {
  background-blend-mode: normal}
.bgBM-o {
  background-blend-mode: overlay}
.bgBM-sat {
  background-blend-mode: saturation}
.bgBM-scr {
  background-blend-mode: screen}
.bgBM-sl {
  background-blend-mode: soft-light}
.bgBM-uns {
  background-blend-mode: unset}

/* Background Clip */
.bgC-bb {
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  -o-background-clip: border-box;
  background-clip: border-box}
.bgC-cb {
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  -o-background-clip: content-box;
  background-clip: content-box}
.bgC-inh {
  -webkit-background-clip: inherit;
  -moz-background-clip: inherit;
  -o-background-clip: inherit;
  background-clip: inherit}
.bgC-ini {
  -webkit-background-clip: initial;
  -moz-background-clip: initial;
  -o-background-clip: initial;
  background-clip: initial}
.bgC-pb {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box}
.gbC-uns {
  -webkit-background-clip: unset;
  -moz-background-clip: unset;
  -o-background-clip: unset;
  background-clip: unset}

/* Background Origin */
.bgO-bb {
  -webkit-background-origin: border-box;
  -moz-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box}
.bgO-cb {
  -webkit-background-origin: content-box;
  -moz-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box}
.bgO-inh {
  -webkit-background-origin: inherit;
  -moz-background-origin: inherit;
  -o-background-origin: inherit;
  background-origin: inherit}
.bgO-ini {
  -webkit-background-origin: initial;
  -moz-background-origin: initial;
  -o-background-origin: initial;
  background-origin: initial}
.bgO-pb {
  -webkit-background-origin: padding-box;
  -moz-background-origin: padding-box;
  -o-background-origin: padding-box;
  background-origin: padding-box}
.bgO-uns {
  -webkit-background-origin: unset;
  -moz-background-origin: unset;
  -o-background-origin: unset;
  background-origin: unset}

/* Background Position */
.bgP-cb {
  background-position: center bottom}
.bgP-cc {
  background-position: center center}
.bgP-ct {
  background-position: center top}
.bgP-inh {
  background-position: inherit}
.bgP-ini {
  background-position: initial}
.bgP-lb {
  background-position: left bottom}
.bgP-lc {
  background-position: left center}
.bgP-lt {
  background-position: left top}
.bgP-rb {
  background-position: right bottom}
.bgP-rc {
  background-position: right center}
.bgP-rt {
  background-position: right top}
.bgP-uns {
  background-position: unset}

/* Background Position X */
.bgPX-c {
  background-position-x: center }
.bgPX-inh {
  background-position-x: inherit}
.bgPX-ini {
  background-position-x: initial}
.bgPX-l {
  background-position-x: left}
.bgPX-r {
  background-position-x: right}
.bgPX-uns {
  background-position-x: unset}

/* Background Position Y */
.bgPY-b {
  background-position-y: bottom}
.bgPY-c {
  background-position-y: center}
.bgPY-inh {
  background-position-y: inherit}
.bgPY-ini {
  background-position-y: initial}
.bgPY-t {
  background-position-y: top}
.bgPY-uns {
  background-position-y: unset}

/* Background Repeat */
.bgR-inh {
  background-repeat: inherit}
.bgR-ini {
  background-repeat: initial}
.bgR-nr {
  background-repeat: no-repeat}
.bgR-r {
  background-repeat: repeat}
.bgr-rx {
  background-repeat: repeat-x}
.bgR-ry {
  background-repeat: repeat-y}
.bgR-uns {
  background-repeat: unset}

/* Background Size */
.bgS-a {
  -webkit-background-size: auto auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto}
.bgS-c {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover}
.bgS-inh {
  -webkit-background-size: inherit inherit;
  -moz-background-size: inherit;
  -o-background-size: inherit;
  background-size: inherit}
.bgS-ini {
  -webkit-background-size: initial initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial}
.bgS-uns {
  -webkit-background-size: unset unset;
  -moz-background-size: unset;
  -o-background-size: unset;
  background-size: unset}

/* Baseline Shift */
.blS-a {
  baseline-shift: auto}
.blS-b {
  baseline-shift: baseline}
.blS-inh {
  baseline-shift: inherit}
.blS-ini {
  baseline-shift: initial}
.blS-sub {
  baseline-shift: sub}
.blS-sup {
  baseline-shift: super}
.blS-uns {
  baseline-shift: unset}

/* Border */
.b-0 {
  border: 0}

/* Border Bottom Style */
.bBS-das {
  border-bottom-style: dashed}
.bBS-dou {
  border-bottom-style: double}
.bBS-dot {
  border-bottom-style: dotted}
.bBS-g {
  border-bottom-style: groove}
.bBS-h {
  border-bottom-style: hidden}
.bBS-inh {
  border-bottom-style: inherit}
.bBS-ini {
  border-bottom-style: initial}
.bBS-ins {
  border-bottom-style: inset}
.bBS-i {
  border-bottom-style: inset}
.bBS-n {
  border-bottom-style: none}
.bBS-o {
  border-bottom-style: outset}
.bBS-r {
  border-bottom-style: ridge}
.bBS-s {
  border-bottom-style: solid}
.bBS-uns {
  border-bottom-style: unset}
.bBS-wi {
  border-bottom-style: window-inset}

/* Border Collapse */
.bC-c {
  border-collapse: collapse}
.bC-inh {
  border-collapse: inherit}
.bC-ini {
  border-collapse: initial}
.bC-s {
  border-collapse: separate}
.bC-uns {
  border-collapse: unset}

/* Border Left Style */
.bLS-das {
  border-left-style: dashed}
.bLS-dou {
  border-left-style: double}
.bLS-dot {
  border-left-style: dotted}
.bLS-g {
  border-left-style: groove}
.bLS-h {
  border-left-style: hidden}
.bLS-inh {
  border-left-style: inherit}
.bLS-ini {
  border-left-style: initial}
.bLS-ins {
  border-left-style: inset}
.bLS-i {
  border-left-style: inset}
.bLS-n {
  border-left-style: none}
.bLS-o {
  border-left-style: outset}
.bLS-r {
  border-left-style: ridge}
.bLS-s {
  border-left-style: solid}
.bLS-uns {
  border-left-style: unset}
.bLS-wi {
  border-left-style: window-inset}

/* Border Right Style */
.bRS-das {
  border-right-style: dashed}
.bRS-dou {
  border-right-style: double}
.bRS-dot {
  border-right-style: dotted}
.bRS-g {
  border-right-style: groove}
.bRS-h {
  border-right-style: hidden}
.bRS-inh {
  border-right-style: inherit}
.bRS-ini {
  border-right-style: initial}
.bRS-ins {
  border-right-style: inset}
.bRS-i {
  border-right-style: inset}
.bRS-n {
  border-right-style: none}
.bRS-o {
  border-right-style: outset}
.bRS-r {
  border-right-style: ridge}
.bRS-s {
  border-right-style: solid}
.bRS-uns {
  border-right-style: unset}
.bRS-wi {
  border-right-style: window-inset}

/* Border Style */
.bS-d {
  border-style: double}
.bS-g {
  border-style: groove}
.bS-h {
  border-style: hidden}
.bS-inh {
  border-style: inherit}
.bS-ini {
  border-style: initial}
.bS-i {
  border-style: inset}
.bS-n {
  border-style: none}
.bS-o {
  border-style: outset}
.bS-r {
  border-style: ridge}
.bS-s {
  border-style: solid}
.bS-uns {
  border-style: unset}

/* Box Sizing */
.bS-bb {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box}
.bS-cb {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box}
.bS-inh {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit}
.bS-ini {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial}
.bS-uns {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset}

/* Border Top Style */
.bTS-das {
  border-top-style: dashed}
.bTS-dou {
  border-top-style: double}
.bTS-dot {
  border-top-style: dotted}
.bTS-g {
  border-top-style: groove}
.bTS-h {
  border-top-style: hidden}
.bTS-inh {
  border-top-style: inherit}
.bTS-ini {
  border-top-style: initial}
.bTS-ins {
  border-top-style: inset}
.bTS-i {
  border-top-style: inset}
.bTS-n {
  border-top-style: none}
.bTS-o {
  border-top-style: outset}
.bTS-r {
  border-top-style: ridge}
.bTS-s {
  border-top-style: solid}
.bTS-uns {
  border-top-style: unset}
.bTS-wi {
  border-top-style: window-inset}

/* Break After */
.bA-au {
  -webkit-break-after: auto;
  -moz-break-after: auto;
  break-after: auto}
.bA-al {
  -webkit-break-after: always;
  -moz-break-after: always;
  break-after: always}
.bA-av {
  -webkit-break-after: avoid;
  -moz-break-after: avoid;
  break-after: avoid}
.bA-ac {
  -webkit-break-after: avoid-column;
  -moz-break-after: avoid-column;
  break-after: avoid-column}
.bA-ap {
  -webkit-break-after: avoid-page;
  -moz-break-after: avoid-page;
  break-after: avoid-page}
.bA-ar {
  -webkit-break-after: avoid-region;
  -moz-break-after: avoid-region;
  break-after: avoid-region}
.bA-c {
  -webkit-break-after: column;
  -moz-break-after: column;
  break-after: column}
.bA-inh {
  -webkit-break-after: inherit;
  -moz-break-after: inherit;
  break-after: inherit}
.bA-ini {
  -webkit-break-after: initial;
  -moz-break-after: initial;
  break-after: initial}
.bA-l {
  -webkit-break-after: left;
  -moz-break-after: left;
  break-after: left}
.bA-p {
  -webkit-break-after: page;
  -moz-break-after: page;
  break-after: page}
.bA-rec {
  -webkit-break-after: recto;
  -moz-break-after: recto;
  break-after: recto}
.bA-reg {
  -webkit-break-after: region;
  -moz-break-after: region;
  break-after: region}
.bA-rig {
  -webkit-break-after: right;
  -moz-break-after: right;
  break-after: right}
.bA-uns {
  -webkit-break-after: unset;
  -moz-break-after: unset;
  break-after: unset}
.bA-v {
  -webkit-break-after: verso;
  -moz-break-after: verso;
  break-after: verso}

/* Break Before */
.bB-au {
  -webkit-break-before: auto;
  -moz-break-before: auto;
  break-before: auto}
.bB-al {
  -webkit-break-before: always;
  -moz-break-before: always;
  break-before: always}
.bB-av {
  -webkit-break-before: avoid;
  -moz-break-before: avoid;
  break-before: avoid}
.bB-ac {
  -webkit-break-before: avoid-column;
  -moz-break-before: avoid-column;
  break-before: avoid-column}
.bB-ap {
  -webkit-break-before: avoid-page;
  -moz-break-before: avoid-page;
  break-before: avoid-page}
.bB-ar {
  -webkit-break-before: avoid-region;
  -moz-break-before: avoid-region;
  break-before: avoid-region}
.bB-c {
  -webkit-break-before: column;
  -moz-break-before: column;
  break-before: column}
.bB-inh {
  -webkit-break-before: inherit;
  -moz-break-before: inherit;
  break-before: inherit}
.bB-ini {
  -webkit-break-before: initial;
  -moz-break-before: initial;
  break-before: initial}
.bB-l {
  -webkit-break-before: left;
  -moz-break-before: left;
  break-before: left}
.bB-p {
  -webkit-break-before: page;
  -moz-break-before: page;
  break-before: page}
.bB-rec {
  -webkit-break-before: recto;
  -moz-break-before: recto;
  break-before: recto}
.bB-reg {
  -webkit-break-before: region;
  -moz-break-before: region;
  break-before: region}
.bB-rig {
  -webkit-break-before: right;
  -moz-break-before: right;
  break-before: right}
.bB-uns {
  -webkit-break-before: unset;
  -moz-break-before: unset;
  break-before: unset}
.bB-v {
  -webkit-break-before: verso;
  -moz-break-before: verso;
  break-before: verso}

/* Break Inside */
.bI-au {
  -webkit-column-break-inside: auto;
  page-break-inside: auto;
  break-inside: auto}
.bI-av {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid}
.bI-ac {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column}
.bI-ap {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-page}
.bI-ar {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid-region;
  break-inside: avoid-region}
.bI-inh {
  -webkit-column-break-inside: inherit;
  page-break-inside: inherit;
  break-inside: inherit}
.bI-ini {
  -webkit-column-break-inside: initial;
  page-break-inside: initial;
  break-inside: initial}
.bI-uns {
  -webkit-column-break-inside: unset;
  page-break-inside: unset;
  break-inside: unset}

/* Caption Side */
.capS-b {
  caption-side: bottom}
.capS-inh {
  caption-side: inherit}
.capS-ini {
  caption-side: initial}
.capS-l {
  caption-side: left}
.capS-r {
  caption-side: right}
.capS-t {
  caption-side: top}
.capS-uns {
  caption-side: unset}

/* Clear */
.c-b {
  clear: both}
.c-inh {
  clear: inherit}
.c-ini {
  clear: initial}
.c-l {
  clear: left}
.c-n {
  clear: none}
.c-r {
  clear: right}
.c-uns {
  clear: unset}

/* Color Interpolation */
.cI-a {
  color-interpolation: auto}
.cI-inh {
  color-interpolation: inherit}
.cI-ini {
  color-interpolation: initial}
.cI-l {
  color-interpolation: linearRGB}
.cI-s {
  color-interpolation: sRGB}
.cI-uns {
  color-interpolation: unset}

/* Color Interpolation Filters */
.cIF-a {
  color-interpolation-filters: auto}
.cIF-inh {
  color-interpolation-filters: inherit}
.cIF-ini {
  color-interpolation-filters: initial}
.cIF-l {
  color-interpolation-filters: linearRGB}
.cIF-s {
  color-interpolation-filters: sRGB}
.cIF-uns {
  color-interpolation-filters: unset}

/* Column Fill */
.cF-a {
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto}
.cF-b {
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance}
.cF-inh {
  -webkit-column-fill: inherit;
  -moz-column-fill: inherit;
  column-fill: inherit}
.cF-ini {
  -webkit-column-fill: initial;
  -moz-column-fill: initial;
  column-fill: initial}
.cF-u {
  -webkit-column-fill: unset;
  -moz-column-fill: unset;
  column-fill: unset}

/* Color Rendering */
.cR-a {
  color-rendering: auto}
.cR-inh {
  color-rendering: inherit}
.cR-ini {
  color-rendering: initial}
.cR-oQ {
  color-rendering: optimizeQuality}
.cR-oS {
  color-rendering: optimizeSpeed}
.cR-uns {
  color-rendering: unset}

/* Column Span */
.colS-a {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all}
.colS-inh {
  -webkit-column-span: inherit;
  -moz-column-span: inherit;
  column-span: inherit}
.colS-ini {
  -webkit-column-span: initial;
  -moz-column-span: initial;
  column-span: initial}
.colS-n {
  -webkit-column-span: none;
  -moz-column-span: none;
  column-span: none}
.colS-uns {
  -webkit-column-span: unset;
  -moz-column-span: unset;
  column-span: unset}

/* Cursor */
.cur-al {
  cursor: alias}
.cur-as {
  cursor: all-scroll}
.cur-a {
  cursor: auto}
.cur-ce {
  cursor: cell}
.cur-cr {
  cursor: col-resize}
.cur-cm {
  cursor: context-menu}
.cur-co {
  cursor: copy}
.cur-c {
  cursor: crosshair}
.cur-d {
  cursor: default}
.cur-er {
  cursor: e-resize}
.cur-ewr {
  cursor: ew-resize}
.cur-g {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab}
.cur-gg {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing}
.cur-h {
  cursor: help}
.cur-inh {
  cursor: inherit}
.cur-ini {
  cursor: initial}
.cur-m {
  cursor: move}
.cur-nd {
  cursor: no-drop}
.cur-n {
  cursor: none}
.cur-na {
  cursor: not-allowed}
.cur-nr {
  cursor: n-resize}
.cur-ner {
  cursor: ne-resize}
.cur-neswr {
  cursor: nesw-resize}
.cur-nsr {
  cursor: ns-resize}
.cur-nwr {
  cursor: nw-resize}
.cur-nwser {
  cursor: nwse-resize}
.cur-po {
  cursor: pointer}
.cur-pr {
  cursor: progess}
.cur-rr {
  cursor: row-resize}
.cur-sr {
  cursor: s-resize}
.cur-ser {
  cursor: se-resize}
.cur-swr {
  cursor: sw-resize}
.cur-t {
  cursor: text}
.cur-uns {
  cursor: unset}
.cur-vt {
  cursor: vertical-text}
.cur-wr {
  cursor: w-resize}
.cur-w {
  cursor: wait}
.cur-zi {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in}
.cur-zo {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out}

/* Direction */
.dir-inh {
  direction: inherit}
.dir-ini {
  direction: initial}
.dir-ltr {
  direction: ltr}
.dir-rtl {
  direction: rtl}
.dir-uns {
  direction: unset}

/* Display */
.d-b {
  display: block}
.d-f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex}
.d-inh {
  display: inherit}
.d-ini {
  display: initial}
.d-i {
  display: inline}
.d-ib {
  display: inline-block}
.d-n {
  display: none}
.d-uns {
  display: unset}

/* Dominant Baseline */
.dB-al {
  dominant-baseline: alphabetic}
.dB-a {
  dominant-baseline: auto}
.dB-be {
  dominant-baseline: before-edge}
.dB-c {
  dominant-baseline: central}
.dB-h {
  dominant-baseline: hanging}
.dB-i {
  dominant-baseline: ideographic}
.dB-inh {
  dominant-baseline: inherit}
.dB-ini {
  dominant-baseline: initial}
.dB-m {
  dominant-baseline: mathematical}
.dB-mid {
  dominant-baseline: middle}
.dB-nc {
  dominant-baseline: no-change}
.dB-rs {
  dominant-baseline: reset-size}
.dB-tae {
  dominant-baseline: text-after-edge}
.dB-tbe {
  dominant-baseline: text-before-edge}
.dB-uns {
  dominant-baseline: unset}
.dB-us {
  dominant-baseline: use-script}

/* Enable Background */
.eB-a {
  enable-background: accumulate}
.eB-inh {
  enable-background: inherit}
.eB-ini {
  enable-background: initial}
.eB-n {
  enable-background: new}
.eB-uns {
  enable-background: unset}

/* Empty Cells */
.eC-h {
  empty-cells: hide}
.eC-inh {
  empty-cells: inh}
.eC-ini {
  empty-cells: ini}
.eC-s {
  empty-cells: show}
.eC-uns {
  empty-cells: unset}

/* Fill Rule */
.fR-e {
  fill-rule: evenodd}
.fR-ini {
  fill-rule: initial}
.fR-inh {
  fill-rule: inherit}
.fR-n {
  fill-rule: nonzero}
.fR-uns {
  fill-rule: unset}

/* Filter */
.f-g {
  filter: url(nucleus.svg#grayscale);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);}
.f-inh {
  -webkit-filter: inherit;
  filter: inherit}
.f-ini {
  -webkit-filter: initial;
  filter: initial}
.f-n {
  -webkit-filter: none;
  filter: none}
.f-s {
  filter: url(nucleus.svg#sepia);
  -webkit-filter: sepia(1);
  filter: sepia(1);}
.f-uns {
  -webkit-filter: unset;
  filter: unset}

/* Flex Basis */
.fB-a {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto}
.fB-c {
  -webkit-flex-basis: content;
  -ms-flex-preferred-size: content;
  flex-basis: content}
.fB-inh {
  -webkit-flex-basis: inherit;
  -ms-flex-preferred-size: inherit;
  flex-basis: inherit}
.fB-ini {
  -webkit-flex-basis: initial;
  -ms-flex-preferred-size: initial;
  flex-basis: initial}
.fB-uns {
  -webkit-flex-basis: unset;
  -ms-flex-preferred-size: unset;
  flex-basis: unset}

/* Flex Direction */
.fD-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column}
.fD-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse}
.fD-inh {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: inherit;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: inherit;
  flex-direction: inherit}
.fF-ini {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: initial;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: initial;
  flex-direction: initial}
.fD-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row}
.fD-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse}
.fD-uns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: unset;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: unset;
  flex-direction: unset}

/* Flex Wrap */
.fW-inh {
  -webkit-flex-wrap: inherit;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit}
.fW-ini {
  -webkit-flex-wrap: initial;
  -ms-flex-wrap: initial;
  flex-wrap: initial}
.fW-n {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap}
.fW-uns {
  -webkit-flex-wrap: unset;
  -ms-flex-wrap: unset;
  flex-wrap: unset}
.fW-w {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap}
.fW-wr {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse}

/* Float */
.f-inh {
  float: inherit}
.f-ini {
  float: initial}
.f-l {
  float: left}
.f-n {
  float: none}
.f-r {
  float: right}
.f-uns {
  float: unset}

/* Font Style */
.fS-inh {
  font-style: inherit}
.fS-ini {
  font-style: initial}
.fS-i {
  font-style: italic}
.fS-n {
  font-style: normal}
.fS-o {
  font-style: oblique}
.fS-uns {
  font-style: unset}

/* Font Stretch */
.fS-c {
  font-stretch: condensed}
.fS-e {
  font-stretch: expanded}
.fS-ec {
  font-stretch: extra-condensed}
.fS-ee {
  font-stretch: extra-expanded}
.fS-inh {
  font-stretch: inherit}
.fS-ini {
  font-stretch: initial}
.fS-sc {
  font-stretch: semi-condensed}
.fS-se {
  font-stretch: semi-expanded}
.fS-uc {
  font-stretch: ultra-condensed}
.fS-ue {
  font-stretch: ultra-expanded}
.fS-uns {
  font-stretch: unset}

/* Font Variant */
.fV-inh {
  font-variant: inherit}
.fV-ini {
  font-variant: initlal}
.fV-n {
  font-variant: normal}
.fV-s {
  font-variant: small-caps}
.fV-uns {
  font-variant: unset}

/* Font Weight */
.fW-b {
  font-weight: bold}
.fW-br {
  font-weight: bolder}
.fW-inh {
  font-weight: inherit}
.fW-ini {
  font-weight: initial}
.fW-l {
  font-weight: light}
.fW-lr {
  font-weight: lighter}
.fW-n {
  font-weight: normal}
.fW-uns {
  font-weight: unset}

/* Glyph Orientation Horizontal */
.gOH-0 {
  glyph-orientation-horizontal: 0deg}
.gOH-90 {
  glyph-orientation-horizontal: 90deg}
.gOH-180 {
  glyph-orientation-horizontal: 180deg}
.gOH-270 {
  glyph-orientation-horizontal: 270deg}
.gOH-inh {
  glyph-orientation-horizontal: inherit}
.gOH-ini {
  glyph-orientation-horizontal: initial}
.gOH-uns {
  glyph-orientation-horizontal: unset}

/* Glyph Orientation Vertical */
.gOV-0 {
  glyph-orientation-vertical: 0deg}
.gOV-90 {
  glyph-orientation-vertical: 90deg}
.gOV-180 {
  glyph-orientation-vertical: 180deg}
.gOV-270 {
  glyph-orientation-vertical: 270deg}
.gOV-a {
  glyph-orientation-vertical: auto}
.gOV-inh {
  glyph-orientation-vertical: inherit}
.gOV-ini {
  glyph-orientation-vertical: initial}
.gOV-uns {
  glyph-orientation-vertical: unset}

/* Hyphens */
.h-a {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto}
.h-inh {
  -webkit-hyphens: inherit;
  -moz-hyphens: inherit;
  -ms-hyphens: inherit;
  hyphens: inherit}
.h-ini {
  -webkit-hyphens: initial;
  -moz-hyphens: initial;
  -ms-hyphens: initial;
  hyphens: initial}
.h-m {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual}
.h-n {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none}
.h-uns {
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset}

/* Image Orientation */
.iO-0 {
  image-orientation: 0deg}
.iO-90 {
  image-orientation: 90deg}
.iO-180 {
  image-orientation: 180deg}
.iO-270 {
  image-orientation: 270deg}
.iO-0f {
  image-orientation: 0deg flip}
.iO-90f {
  image-orientation: 90deg flip}
.iO-180f {
  image-orientation: 180deg flip}
.iO-270f {
  image-orientation: 270deg flip}
.iO-f {
  image-orientation: flip}
.iO-fi {
  image-orientation: from-image}
.iO-inh {
  image-orientation: inherit}
.iO-ini {
  image-orientation: initial}
.iO-uns {
  image-orientation: unset}

/* Image Rendering */
.iR-a {
  image-rendering: auto}
.iR-ce {
  image-rendering: crisp-edges}
.iR-inh {
  image-rendering: inherit}
.iR-ini {
  image-rendering: initial}
.iR-p {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated}
.iR-uns {
  image-rendering: unset}

/* Isolation */
.i-a {
  isolation: auto}
.i-inh {
  isolation: inherit}
.i-ini {
  isolation: initial}
.i-i {
  isolation: isolate}
.i-uns {
  isolation: unset}

/* Justify Content */
.jC-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center}
.jC-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end}
.jC-fs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start}
.jC-inh {
  -webkit-box-pack: inherit;
  -webkit-justify-content: inherit;
  -moz-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit}
.jC-ini {
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -moz-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial}
.jC-sa {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around}
.jC-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between}
.jC-uns {
  -webkit-box-pack: unset;
  -webkit-justify-content: unset;
  -moz-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset}

/* Line Break */
.lB-a {
  line-break: auto}
.lB-l {
  line-break: loose}
.lB-inh {
  line-break: inh}
.lB-ini {
  line-break: initial}
.lB-n {
  line-break: normal}
.lB-s {
  line-break: strict}
.lB-uns {
  line-break: unset}

/* List Style Position */
.lSP-inh {
  list-style-position: inherit}
.lSP-ini {
  list-style-position: initial}
.lSP-ins {
  list-style-position: inside}
.lSP-o {
  list-style-position: outside}
.lSP-uns {
  list-style-position: unset}

/* List Style Type */
.lST-a {
  list-style-type: armenian}
.lST-c {
  list-style-type: circle}
.lST-cjk {
  list-style-type: cjk-ideographic}
.lST-dec {
  list-style-type: decimal}
.lST-dis {
  list-style-type: disc}
.lST-dlz {
  list-style-type: decimal-leading-zero}
.lST-g {
  list-style-type: georgian}
.lST-heb {
  list-style-type: hebrew}
.lST-h {
  list-style-type: hiragana}
.lST-hi {
  list-style-type: hiragana-iroha}
.lST-inh {
  list-style-type: inherit}
.lST-ini {
  list-style-type: initial}
.lST-k {
  list-style-type: katakana}
.lST-ki {
  list-style-type: katakana-iroha}
.lST-la {
  list-style-type: lower-alpha}
.lST-lg {
  list-style-type: lower-greek}
.lST-ll {
  list-style-type: lower-latin}
.lST-lr {
  list-style-type: lower-roman}
.lST-n {
  list-style-type: none}
.lST-s {
  list-style-type: square}
.lST-uns {
  list-style-type: unset}
.lST-ua {
  list-style-type: upper-alpha}
.lST-ul {
  list-style-type: upper-latin}
.lST-ur {
  list-style-type: upper-roman}

/* Margin */
.m-0 {
  margin: 0}
.m-0a {
  margin: 0 auto}
.m-a {
  margin: auto}
.m-inh {
  margin: inherit}
.m-ini {
  margin: initial}
.m-uns {
  margin: unset}

/* Margin Block End */
.mBE-a {
  -webkit-margin-after: auto;
  margin-block-end: auto}
.mBE-inh {
  -webkit-margin-after: inh;
  margin-block-end: inh}
.mBE-ini {
  -webkit-margin-after: initial;
  margin-block-end: initial}
.mBE-uns {
  -webkit-margin-after: unset;
  margin-block-end: unset}

/* Margin Block Start */
.mBS-a {
  -webkit-margin-before: auto;
  margin-block-start: auto}
.mBS-inh {
  -webkit-margin-before: inh;
  margin-block-start: inh}
.mBS-ini {
  -webkit-margin-before: initial;
  margin-block-start: initial}
.mBS-uns {
  -webkit-margin-before: unset;
  margin-block-start: unset}

/* Min Inline Size */
.mIS-fa {
  min-inline-size: fill-available}
.mIS-fc {
  min-inline-size: fit-content}
.mIS-inh {
  min-inline-size: inherit}
.mIS-ini {
  min-inline-size: initial}
.mIS-maxc {
  min-inline-size: max-content}
.mIS-minc {
  min-inline-size: min-content}
.mIS-uns {
  min-inline-size: unset}

/* Mix Blend Mode */
.mBM-c {
  mix-blend-mode: color}
.mBM-cb {
  mix-blend-mode: color-burn}
.mBM-cd {
  mix-blend-mode: color-dodge}
.mBM-d {
  mix-blend-mode: darken}
.mBM-dif {
  mix-blend-mode: difference}
.mBM-e {
  mix-blend-mode: exclusion}
.mBM-hl {
  mix-blend-mode: hard-light}
.mBM-h {
  mix-blend-mode: hue}
.mBM-inh {
  mix-blend-mode: inherit}
.mBM-ini {
  mix-blend-mode: initial}
.mBM-lig {
  mix-blend-mode: lighten}
.mBM-lum {
  mix-blend-mode: luminosity}
.mBM-m {
  mix-blend-mode: multiply}
.mBM-n {
  mix-blend-mode: normal}
.mBM-o {
  mix-blend-mode: overlay}
.mBM-sat {
  mix-blend-mode: saturation}
.mBM-scr {
  mix-blend-mode: screen}
.mBM-sl {
  mix-blend-mode: soft-light}
.mBM-uns {
  mix-blend-mode: unset}

/* Object Fit */
.oF-c {
  -o-object-fit: cover;
  object-fit: cover}
.oF-f {
  -o-object-fit: fill;
  object-fit: fill}
.oF-inh {
  -o-object-fit: inherit;
  object-fit: inherit}
.oF-ini {
  -o-object-fit: initial;
  object-fit: initial}
.oF-n {
  -o-object-fit: none;
  object-fit: none}
.oF-sd {
  -o-object-fit: scale-down;
  object-fit: scale-down}
.oF-uns {
  -o-object-fit: unset;
  object-fit: unset}

/* Object Position */
.oP-cb {
  -o-object-position: center bottom;
  object-position: center bottom}
.oP-cc {
  -o-object-position: center center;
  object-position: center center}
.oP-ct {
  -o-object-position: center top;
  object-position: center top}
.oP-inh {
  -o-object-position: inherit;
  object-position: inherit}
.oP-ini {
  -o-object-position: initial;
  object-position: initial}
.oP-lb {
  -o-object-position: left bottom;
  object-position: left bottom}
.oP-lc {
  -o-object-position: left center;
  object-position: left center}
.oP-lt {
  -o-object-position: left top;
  object-position: left top}
.oP-rb {
  -o-object-position: right bottom;
  object-position: right bottom}
.oP-rc {
  -o-object-position: right center;
  object-position: right center}
.oP-rt {
  -o-object-position: right top;
  object-position: right top}
.oP-uns {
  -o-object-position: unset;
  object-position: unset}

/* Opacity */
.o-0 {
  opacity: 0}
.o-1 {
  opacity: 1}

/* Outline Style */
.oS-das {
  outline-style: dashed}
.oS-dot {
  outline-style: dotted}
.oS-dou {
  outline-style: double}
.oS-g {
  outline-style: groove}
.oS-inh {
  outline-style: inherit}
.oS-ini {
  outline-style: initial}
.oS-i {
  outline-style: inset}
.oS-n {
  outline-style: none}
.oS-o {
  outline-style: outset}
.oS-r {
  outline-style: ridge}
.oS-s {
  outline-style: solid}
.oS-uns {
  outline-style: unset}
.oS-wi {
  outline-style: window-inset}

/* Overflow */
.o-a {
  overflow: auto}
.o-h {
  overflow: hidden}
.o-inh {
  overflow: inherit}
.o-ini {
  overflow: initial}
.o-s {
  overflow: scroll}
.o-uns {
  overflow: unset}
.o-v {
  overflow: visible}

/* Overflow Wrap */
.oW-bw {
  word-wrap: break-word;
  overflow-wrap: break-word}
.oW-inh {
  word-wrap: inherit;
  overflow-wrap: inherit}
.oW-ini {
  word-wrap: initial;
  overflow-wrap: initial}
.oW-n {
  word-wrap: normal;
  overflow-wrap: normal}
.oW-uns {
  word-wrap: unset;
  overflow-wrap: unset}

/* Padding */
.p-0 {
  padding: 0}

/* Pointer Events */
.pE-a {
  pointer-events: auto}
.pE-inh {
  pointer-events: inherit}
.pE-ini {
  pointer-events: initial}
.pE-n {
  pointer-events: none}
.pE-uns {
  pointer-events: unset}

/* Position */
.p-a {
  position: absolute}
.p-f {
  position: fixed}
.p-inh {
  position: inherit}
.p-ini {
  position: initial}
.p-r {
  position: relative}
.p-s {
  position: static}
.p-uns {
  position: unset}

/* Resize */
.r-b {
  resize: both}
.r-h {
  resize: horizontal}
.r-inh {
  resize: inherit}
.r-ini {
  resize: initial}
.r-n {
  resize: none}
.r-uns {
  resize: unset}
.r-v {
  resize: vertical}

/* Ruby Align */
.rA-c {
  ruby-align: center}
.rA-inh {
  ruby-align: inherit}
.rA-ini {
  ruby-align: initial}
.rA-sa {
  ruby-align: space-around}
.rA-sb {
  ruby-align: space-between}
.rA-s {
  ruby-align: start}
.rA-uns {
  ruby-align: unset}

/* Ruby Position */
.rP-inh {
  ruby-position: inherit}
.rP-ini {
  ruby-position: initial}
.rP-ic {
  ruby-position: inter-character}
.rP-o {
  ruby-position: over}
.rP-und {
  ruby-position: under}
.rP-uns {
  ruby-position: unset}

/* Scroll Behavior */
.sB-a {
  scroll-behavior: auto}
.sB-inh {
  scroll-behavior: inherit}
.sB-ini {
  scroll-behavior: initial}
.sB-s {
  scroll-behavior: smooth}
.sB-uns {
  scroll-behavior: unset}

/* Scroll Snap Type */
.sST-inh {
  scroll-snap-type: inherit}
.sST-ini {
  scroll-snap-type: initial}
.sST-m {
  scroll-snap-type: mandatory}
.sST-n {
  scroll-snap-type: none}
.sST-p {
  scroll-snap-type: proximity}
.sST-u {
  scroll-snap-type: unset}

/* Scroll Snap Type X */
.sSTX-inh {
  scroll-snap-type-x: inherit}
.sSTX-ini {
  scroll-snap-type-x: initial}
.sSTX-m {
  scroll-snap-type-x: mandatory}
.sSTX-n {
  scroll-snap-type-x: none}
.sSTX-p {
  scroll-snap-type-x: proximity}
.sSTX-uns {
  scroll-snap-type-x: unset}

/* Scroll Snap Type Y */
.sSTY-inh {
  scroll-snap-type-y: inherit}
.sSTY-ini {
  scroll-snap-type-y: initial}
.sSTY-m {
  scroll-snap-type-y: mandatory}
.sSTY-n {
  scroll-snap-type-y: none}
.sSTY-p {
  scroll-snap-type-y: proximity}
.sSTY-uns {
  scroll-snap-type-y: unset}

/* Shape Image Threshold */
.sIT-inh {
  -webkit-shape-image-threshold: inherit;
  shape-image-threshold: inherit}
.sIT-ini {
  -webkit-shape-image-threshold: initial;
  shape-image-threshold: initial}
.sIT-uns {
  -webkit-shape-image-threshold: unset;
  shape-image-threshold: unset}

/* Shape Margin */
.sM-inh {
  -webkit-shape-margin: inherit;
  shape-margin: inherit}
.sM-ini {
  -webkit-shape-margin: initial;
  shape-margin: initial}
.sM-uns {
  -webkit-shape-margin: unset;
  shape-margin: unset}

/* Shape Outside */
.sO-bb {
  -webkit-shape-outside: border-box;
  shape-outside: border-box}
.sO-cb {
  -webkit-shape-outside: content-box;
  shape-outside: content-box}
.sO-inh {
  -webkit-shape-outside: inherit;
  shape-outside: inherit}
.sO-ini {
  -webkit-shape-outside: initial;
  shape-outside: initial}
.sO-mb {
  -webkit-shape-outside: margin-box;
  shape-outside: margin-box}
.sO-n {
  -webkit-shape-outside: none;
  shape-outside: none}
.sO-pb {
  -webkit-shape-outside: padding-box;
  shape-outside: padding-box}
.sO-uns {
  -webkit-shape-outside: unset;
  shape-outside: unset}

/* Shape Rendering */
.sR-a {
  shape-rendering: auto}
.sR-cE {
  shape-rendering: crispEdges}
.sR-gP {
  shape-rendering: geometricPrecision}
.sR-inh {
  shape-rendering: inherit}
.sR-ini {
  shape-rendering: initial}
.sR-oS {
  shape-rendering: optimizeSpeed}
.sR-uns {
  shape-rendering: unset}

/* Speak As */
.sA-a {
  speak-as: auto}
.sA-b {
  speak-as: bullets}
.sA-inh {
  speak-as: inherit}
.sA-ini {
  speak-as: initial}
.sA-n {
  speak-as: numbers}
.sA-so {
  speak-as: spell-out}
.sA-uns {
  speak-as: unset}
.sA-w {
  speak-as: words}

/* Stroke Linecap */
.sLC-b {
  stroke-linecap: butt}
.sLC-inh {
  stroke-linecap: inherit}
.sLC-ini {
  stroke-linecap: initial}
.sLC-r {
  stroke-linecap: round}
.sLC-s {
  stroke-linecap: square}
.sLC-uns {
  stroke-linecap: unset}

/* Stroke Linejoin */
.sLJ-b {
  stroke-linejoin: bevel}
.sLJ-inh {
  stroke-linejoin: inherit}
.sLJ-ini {
  stroke-linejoin: initial}
.sLJ-m {
  stroke-linejoin: miter}
.sLJ-r {
  stroke-linejoin: round}
.sLJ-uns {
  stroke-linejoin: unset}

/* Tab Size */
.tabS-inh {
  -moz-tab-size: inherit;
  -o-tab-size: inherit;
  tab-size: inherit}
.tabS-ini {
  -moz-tab-size: initial;
  -o-tab-size: initial;
  tab-size: initial}
.tabS-uns {
  -moz-tab-size: unset;
  -o-tab-size: unset;
  tab-size: unset}

/* Table Layout */
.tL-a {
  table-layout: auto}
.tL-f {
  table-layout: fixed}
.tL-inh {
  table-layout: inherit}
.tL-ini {
  table-layout: initial}
.tL-uns {
  table-layout: unset}

/* Text Align */
.tA-c {
  text-align: center}
.tA-j {
  text-align: justify}
.tA-inh {
  text-align: inherit}
.tA-ini {
  text-align: initial}
.tA-l {
  text-align: left}
.tA-r {
  text-align: right}
.tA-uns {
  text-align: unset}

/* Text Align Last */
.tAL-a {
  -moz-text-align-last: auto;
  text-align-last: auto}
.tAL-c {
  -moz-text-align-last: center;
  text-align-last: center}
.tAL-e {
  -moz-text-align-last: end;
  text-align-last: end}
.tAL-inh {
  -moz-text-align-last: inherit;
  text-align-last: inherit}
.tAL-ini {
  -moz-text-align-last: initial;
  text-align-last: initial}
.tAL-j {
  -moz-text-align-last: justify;
  text-align-last: justify}
.tAL-l {
  -moz-text-align-last: left;
  text-align-last: left}
.tAL-r {
  -moz-text-align-last: right;
  text-align-last: right}
.tAL-s {
  -moz-text-align-last: start;
  text-align-last: start}
.tAL-uns {
  -moz-text-align-last: unset;
  text-align-last: unset}

/* Text Anchor */
.tAn-e {
  text-anchor: end}
.tAn-inh {
  text-anchor: inherit}
.tAn-ini {
  text-anchor: initial}
.tAn-s {
  text-anchor: start}
.tAn-m {
  text-anchor: middle}
.tAn-uns {
  text-anchor: unset}

/* Text Combine Upright */
.tCU-a {
  -ms-text-combine-horizontal: all;
  text-combine-upright: all}
.tCU-d {
  -ms-text-combine-horizontal: digits;
  text-combine-upright: digits}
.tCU-inh {
  -ms-text-combine-horizontal: inherit;
  text-combine-upright: inherit}
.tCU-ini {
  -ms-text-combine-horizontal: initial;
  text-combine-upright: initial}
.tCU-n {
  -ms-text-combine-horizontal: none;
  text-combine-upright: none}
.tCU-uns {
  -ms-text-combine-horizontal: unset;
  text-combine-upright: unset}

/* Text Decoration */
.tD-inh {
  text-decoration: inherit}
.tD-ini {
  text-decoration: initial}
.tD-l {
  text-decoration: line-through}
.tD-n {
  text-decoration: none}
.tD-o {
  text-decoration: overline}
.tD-u {
  text-decoration: underline}
.tD-uns {
  text-decoration: unset}

/* Text Decoration Color */
.tDC-cC {
  -webkit-text-decoration-color: currentColor;
  -moz-text-decoration-color: currentColor;
  text-decoration-color: currentColor}
.tDC-inh {
  -webkit-text-decoration-color: inherit;
  -moz-text-decoration-color: inherit;
  text-decoration-color: inherit}
.tDC-ini {
  -webkit-text-decoration-color: initial;
  -moz-text-decoration-color: initial;
  text-decoration-color: initial}
.tDC-uns {
  -webkit-text-decoration-color: unset;
  -moz-text-decoration-color: unset;
  text-decoration-color: unset}

/* Text Decoration Line */
.tDL-inh {
  -webkit-text-decoration-line: inherit;
  -moz-text-decoration-line: inherit;
  text-decoration-line: inherit}
.tDL-ini {
  -webkit-text-decoration-line: initial;
  -moz-text-decoration-line: initial;
  text-decoration-line: initial}
.tDL-lt {
  -webkit-text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
  text-decoration-line: line-through}
.tDL-n {
  -webkit-text-decoration-line: none;
  -moz-text-decoration-line: none;
  text-decoration-line: none}
.tDL-o {
  -webkit-text-decoration-line: overline;
  -moz-text-decoration-line: overline;
  text-decoration-line: overline}
.tDL-u {
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline}
.tDL-uns {
  -webkit-text-decoration-line: unset;
  -moz-text-decoration-line: unset;
  text-decoration-line: unset}

/* Text Decoration Style */
.tDS-inh {
  -webkit-text-decoration-style: inherit;
  -moz-text-decoration-style: inherit;
  text-decoration-style: inherit}
.tDS-ini {
  -webkit-text-decoration-style: initial;
  -moz-text-decoration-style: initial;
  text-decoration-style: initial}
.tDS-s {
  -webkit-text-decoration-style: solid;
  -moz-text-decoration-style: solid;
  text-decoration-style: solid}
.tDS-dou {
  -webkit-text-decoration-style: double;
  -moz-text-decoration-style: double;
  text-decoration-style: double}
.tDS-dot {
  -webkit-text-decoration-style: dotted;
  -moz-text-decoration-style: dotted;
  text-decoration-style: dotted}
.tDS-das {
  -webkit-text-decoration-style: dashed;
  -moz-text-decoration-style: dashed;
  text-decoration-style: dashed}
.tDS-uns {
  -webkit-text-decoration-style: unset;
  -moz-text-decoration-style: unset;
  text-decoration-style: unset}
.tDS-w {
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy}

/* Text Indent */
.tI-el {
  text-indent: each-line}
.tI-h {
  text-indent: hanging}
.tI-inh {
  text-indent: inherit}
.tI-ini {
  text-indent: initial}
.tI-uns {
  text-indent: unset}

/* Text Overflow */
.tO-c {
  -o-text-overflow: clip;
  text-overflow: clip}
.tO-e {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis}
.tO-inh {
  -o-text-overflow: inherit;
  text-overflow: inherit}
.tO-ini {
  -o-text-overflow: initial;
  text-overflow: initial}
.tO-uns {
  -o-text-overflow: unset;
  text-overflow: unset}

/* Text Rendering */
.tR-a {
  text-rendering: auto}
.tR-gP {
  text-rendering: geometricPrecision}
.tR-inh {
  text-rendering: inherit}
.tR-ini {
  text-rendering: initial}
.tR-oL {
  text-rendering: optimizeLegibility}
.tR-oS {
  text-rendering: optimizeSpeed}
.tR-uns {
  text-renderin: unset}

/* Text Transform */
.tT-c {
  text-transform: capitalize}
.tT-inh {
  text-transform: inherit}
.tT-ini {
  text-transform: initial}
.tT-l {
  text-transform: lowercase}
.tT-n {
  text-transform: none}
.tT-uns {
  text-decoration: unset}
.tT-u {
  text-transform: uppercase}

/* Text Underline Position */
.tUP-a {
  text-underline-position: auto}
.tUP-inh {
  text-underline-position: inherit}
.tUP-ini {
  text-underline-position: initial}
.tUP-u {
  text-underline-position: under}
.tUP-uns {
  text-decoration: unset}

/* Touch Action */
.tA-a {
  -ms-touch-action: auto;
  touch-action: auto}
.tA-inh {
  -ms-touch-action: inherit;
  touch-action: inherit}
.tA-ini {
  -ms-touch-action: initial;
  touch-action: initial}
.tA-m {
  -ms-touch-action: manipulation;
  touch-action: manipulation}
.tA-n {
  -ms-touch-action: none;
  touch-action: none}
.tA-px {
  -ms-touch-action: pan-x;
  touch-action: pan-x}
.tA-py {
  -ms-touch-action: pan-y;
  touch-action: pan-y}
.tA-uns {
  -ms-touch-action: unset;
  touch-action: unset}

/* Transform Origin */
.tO-cb {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom}
.tO-cc {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center}
.tO-ct {
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top}
.tO-inh {
  -webkit-transform-origin: inherit;
  -moz-transform-origin: inherit;
  -ms-transform-origin: inherit;
  -o-transform-origin: inherit;
  transform-origin: inherit}
.tO-ini {
  -webkit-transform-origin: initial;
  -moz-transform-origin: initial;
  -ms-transform-origin: initial;
  -o-transform-origin: initial;
  transform-origin: initial}
.tO-lb {
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom}
.tO-lc {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center}
.tO-lt {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top}
.tO-rb {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom}
.tO-rc {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center}
.tO-rt {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top}
.tO-uns {
  -webkit-transform-origin: unset;
  -moz-transform-origin: unset;
  -ms-transform-origin: unset;
  -o-transform-origin: unset;
  transform-origin: unset}

/* Transform Style */
.tS-f {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  transform-style: flat}
.tS-inh {
  -webkit-transform-style: inherit;
  -moz-transform-style: inherit;
  transform-style: inherit}
.tS-ini {
  -webkit-transform-style: initial;
  -moz-transform-style: initial;
  transform-style: initial}
.tS-p3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d}
.tS-uns {
  -webkit-transform-style: unset;
  -moz-transform-style: unset;
  transform-style: unset}

/* Transition Timing Function */
.tTF-e {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease}
.tTF-ei {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in}
.tTF-eio {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out}
.tTF-eo {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out}
.tTF-inh {
  -webkit-transition-timing-function: inherit;
  -moz-transition-timing-function: inherit;
  -o-transition-timing-function: inherit;
  transition-timing-function: inherit}
.tTF-ini {
  -webkit-transition-timing-function: initial;
  -moz-transition-timing-function: initial;
  -o-transition-timing-function: initial;
  transition-timing-function: initial}
.tTF-l {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear}
.tTF-se {
  -webkit-transition-timing-function: step-end;
  -moz-transition-timing-function: step-end;
  -o-transition-timing-function: step-end;
  transition-timing-function: step-end}
.tTF-ss {
  -webkit-transition-timing-function: step-start;
  -moz-transition-timing-function: step-start;
  -o-transition-timing-function: step-start;
  transition-timing-function: step-start}
.tTF-uns {
  -webkit-transition-timing-function: unset;
  -moz-transition-timing-function: unset;
  -o-transition-timing-function: unset;
  transition-timing-function: unset}

/* Unicode Bidi */
.uB-bo {
  unicode-bidi: bidi-override}
.uB-e {
  unicode-bidi: embed}
.uB-inh {
  unicode-bidi: inherit}
.uB-ini {
  unicode-bidi: initial}
.uB-n {
  unicode-bidi: normal}
.uB-uns {
  unicode-bidi: unset}

/* Vertical Align */
.vA-b {
  vertical-align: bottom}
.vA-bl {
  vertical-align: baseline}
.vA-inh {
  vertical-align: inherit}
.vA-ini {
  vertical-align: initial}
.vA-m {
  vertical-align: middle}
.vA-sub {
  vertical-align: sub}
.vA-sup {
  vertical-align: super}
.vA-t {
  vertical-align: top}
.vA-tb {
  vertical-align: text-bottom}
.vA-tt {
  vertical-align: text-top}
.vA-uns {
  vertical-align: unset}

/* Visibility */
.v-c {
  visibility: collapse}
.v-h {
  visibility: hidden}
.v-inh {
  visibility: inherit}
.v-ini {
  visibility: initial}
.v-uns {
  visibility: unset}
.v-v {
  visibility: visible}

/* White Space */
.wS-inh {
  white-space: inherit}
.wS-ini {
  white-space: initial}
.wS-nor {
  white-space: normal}
.wS-now {
  white-space: nowrap}
.wS-pl {
  white-space: pre-line}
.wS-pw {
  white-space: pre-wrap}
.wS-uns {
  white-space: unset}

/* Writing Mode */
.wM-inh {
  writing-mode: inherit}
.wM-ini {
  writing-mode: initial}
.wM-lr {
  writing-mode: lr}
.wM-lrtb {
  writing-mode: lr-tb}
.wM-rl {
  writing-mode: rl}
.wM-rltb {
  writing-mode: rl-tb}
.wM-tb {
  writing-mode: tb}
.wM-tbrl {
  writing-mode: tb-rl}
.wM-uns {
  writing-mode: unset}

/* Zoom */
.z-a {
  zoom: auto}
.z-inh {
  zoom: inherit}
.z-ini {
  zoom: initial}
.z-n {
  zoom: normal}
.z-uns {
  zoom: unset}
